/* Fonts */
@font-face {
    font-family: "Handlee";
    src: url("Assets/Fonts/Handlee-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "CoffeCake";
    src: url("Assets/Fonts/Coffecake.ttf") format("truetype")
}

/* Canvas styles */
canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    font-family: "CoffeCake", sans-serif;
    width: 100%;
    height: 100%;
    display: none;
}

/* Image styles */
#startMenu, #test, #logo, #tutorial, #background,
#pupSpeech, #pierSpeech, #isabelleSpeech, #celineSpeech, #amuSpeech, #chatonSpeech,
#introBackground, #volumeIcon, #muteVolumeIcon,
#character, #dish, #kitchenBackground, #player,
#gameplayText,
#ic_options, #ic_recipe, #ic_slot,
#ic_com, #ic_timer, #timer, .chat-container
{
    display: none;
}

/* Button styles */
.Button-column {
    position: absolute;
    display: none;
    bottom: 5vw;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Button-container {
    background-color: #EA5C2B;
    width: 15vw;
    height: 4vw;
    border-radius: 3vw;
    box-shadow: 0 .2vw 2vw rgba(0, 0, 0, 0.3);
    outline: .2vw solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.8vh
}

.Button-container:hover {
    background-color: #FF7F3F;
    box-shadow: 0 .2vw 1vw rgba(0, 0, 0, 0.5);
}

.Button-container:active {
    background-color: #95CD41;
    box-shadow: 0 .6vw 2vw rgba(0, 0, 0, 0.3);
}

.Button {
    font-family: CoffeCake, sans-serif;
    justify-content: center;
    text-align: center;
    background: transparent;
    font-size: 3vw;
    padding: 3vh 6vw;
    border: none;
    color: #FFD2BB;
    cursor: pointer;
    caret-color: transparent;
    -webkit-text-stroke: .1vw black;
}

.Button:active {
    color: #DFFFAE;
}

.Back-Button {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1%;
    margin-left: 18%;

}

#tutorial-backButton-container {
    display: none;
    width: 7vw;
}

#tutorialBackButton {
    font-size: 2vw;
}

#options-backButton-container, #CharSelect-backButton-container, #CharSelect-confirmButton-container {
    position: fixed;
    display: none;
    bottom: 5vw;
    left: 42%;
    background-color: #EA5C2B;
    width: 13vw;
    height: 4vw;
    border-radius: 3vw;
    box-shadow: 0 .2vw .5vw rgba(0, 0, 0, 0.3);
    outline: .2vw solid black;
    justify-content: center;
    align-items: center;
}

#CharSelect-backButton-container {
    margin-top: 3%;
    top: 2vw;
    left: 4%;
}

#CharSelectBackButton {
    font-size: 3.5vw;
}

#CharSelect-confirmButton-container {
    margin-top: 3%;
    top: 2vw;
    left: 80vw;
}

#CharSelect-Confirm-button {
    font-size: 3.5vw;
}

#options-backButton-container:hover, #CharSelect-confirmButton-container:hover, #CharSelect-backButton-container:hover {
    background-color: #FF7F3F;
    box-shadow: 0 .4vw .8vw rgba(0, 0, 0, 0.3);
}

#options-backButton-container:active, #CharSelect-confirmButton-container:hover, #CharSelect-backButton-container:active {
    background-color: #95CD41;
    box-shadow: 0 .4vw 1vw rgba(0, 0, 0, 0.3);
}

#ic_options {
    position: absolute;
    width: 4.5vw;
    height: 4.5vw;
    left: 4.5vw;
    top: 1.8vw;
    transform: translate(-50%);
}

#ic_recipe {
    position: absolute;
    width: 4.5vw;
    height: 4.5vw;
    left: 4vw;
    bottom: 2vw;
    transform: translate(-50%);
}

#ic_slot {
    position: absolute;
    width: 4.5vw;
    height: 4.5vw;
    left: 12.5vw;
    bottom: 2vw;
    transform: translate(-50%);
}

#ic_timer {
    position: absolute;
    width: 25vw;
    height: 8.4vw;
    right: -12.5vw;
    top: .05vw;
    transform: translate(-50%);
}

#ic_com {
    position: absolute;
    width: 2.8vw;
    height: 2.8vw;
    right: 25vw;
    bottom: 2.3vw;
    transform: translate(-50%);
}

/* Header styles */
#menuHeader, #character-name, #dish-name {
    font-family: CoffeCake, serif;
    font-size: 11vw;
    color: #FF7F3F;
    caret-color: transparent;
    -webkit-text-stroke: .01vw black;
    margin-bottom: .05vw;
}

#speechText {
    display: none;
    font-family: Handlee, sans-serif;
    font-size: 1.7vw;
    color: #000000;
    position: absolute;
    width: 75vw;
    height: 3em; /* Set a fixed height */
    bottom: 1.6vw;
    left: 60vw; /* Adjust the left value as needed */
    text-align: left;
    transform: translateX(-50%);
}


#character-name, #dish-name {
    display: none;
    position: absolute;
    font-size: 6vw;
    top: 5%;
    left: 50%;
    -webkit-text-stroke: .2vw black;
    transform: translateX(-50%);
}

#introHeader, #gameplayText {
    font-family: CoffeCake, sans-serif;
    display: none;
    font-size: 4vw;
    color: #FF7F3F;
    caret-color: transparent;
    -webkit-text-stroke: .01vw black;
    margin: 0;
    position: absolute;
    bottom: 12vw;
    left: 50%;
    transform: translateX(-50%);
}

#optionsHeader {
    font-family: CoffeCake, sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10.2%);
    display: none;
    font-size: 11vw;
    color: #FF7F3F;
    caret-color: transparent;
    -webkit-text-stroke: .01vw black;
    margin-bottom: 0;
}

#character-name, #dish-name {
    white-space: nowrap;
}

#gameplayText {
    left: 40%;
    transform: translateX(-50%);
    font-size: 3.5vw;
    bottom: 2.5vw;
    -webkit-text-stroke: .1vw black;
}

#timer {
    font-family: CoffeCake, serif;
    top: 4.5vw;
    right: 5.8vw;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 4.5vw;
    -webkit-text-stroke: .1vw black;
    color: white;
    z-index: 1;
    caret-color: transparent;
}

/* Volume */
#volumeContainer {
    caret: transparent;
    position: absolute;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20vw;
    width: 38vw;
    height: 3vw;
    cursor: pointer;
    padding: .3vw;
}

#volumeIcon {
    position: absolute;
    top: 50%;
    transform: translate(-180%, -50%);
    width: 6vw;
    height: 5vw;
    caret: transparent;
}

#volumeBar {
    --value: 50%;
    width: 100%;
    height: 100%;
    outline: 3px solid black;
    border-radius: 3vw;
    background: linear-gradient(to right, #EA5C2B 0%, #EA5C2B calc(var(--value) * 100%), #FBDD0D 0, #FBDD0D 100%);
    -webkit-appearance: none;
}

#volumeBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vw;
    height: 4vw;
    background-color: #EA5C2B;
    outline: .1vw solid black;
    border-radius: 3vw;
    cursor: pointer;
    z-index: 2;
}

#volumeBar::-webkit-slider-thumb:hover {
    background-color: #FF7F3F;
}

#volumeBar::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    border-radius: 3vw;
    z-index: 1;
}

/* Text Field */
.chat-container {
    position: fixed;
    bottom: 2vw;
    right: 3vw;
    width: 20vw;
    padding: .3vw;

}

.chat-field {
    width: 100%;
    background-color: #FF7F3F;
    border-radius: 3vw;
    border: .2vw solid black;
    padding: .2vw;
    cursor: pointer;
}

.chat-log-container {
    overflow: hidden;
    transition: height 0.3s ease;
}

.chat-log {
    height: 0;
    overflow: auto;
    background-color: rgba(34, 28, 25, 0.95);
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    margin-left: 1vw;
    margin-right: .35vw;
    caret-color: transparent;
}

.chat-input {
    font-size: 1vw;
    border: transparent;
    width: 100%;
    padding-top: .3vw;
    padding-left: 1vw;
    padding-bottom: .5vw;
    background-color: #FF7F3F;
    border-radius: 3vw;
    color: white;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    pointer-events: all;
}

.chat-input::placeholder {
    color: rgba(255, 250, 250, 0.56);
}

.chat-input:hover, .chat-field:hover {
    background-color: #EA5C2B;
}


.chat-input:focus, .chat-field:focus {
    background-color: #EA5C2B;
}


/* Login and Signup */
#login-container, #signup-container {
    display: none;
    font-family: CoffeCake, sans-serif;
    text-align: center;
    font-size: 2.5vw;
    color: snow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65vw;
    height: 43vw;
    background-image: url("Assets/Sprites/Backgrounds/loginContainerBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-text-stroke: .08vw black;
}

#signup-container {
    background-image: url("Assets/Sprites/Backgrounds/signupContainerBackground.png");
    width: 52vw;
    height: 43vw;
}

#signup-container .input-group {
    margin-top: 3.5vw;
    margin-bottom: 3vw;
}

#login-container .input-group {
    margin-top: 6vw;
    margin-bottom: 3vw;
}

#login-container label,
#signup-container label {
    display: block;
    margin-bottom: .01vw;
}

#login-container input[type="text"],
#login-container input[type="password"],
#signup-container input[type="text"],
#signup-container input[type="password"] {
    font-family: CoffeCake, sans-serif;
    font-size: 3vw;
    color: #95CD41;
    padding: 1%;
    width: 50%;
    border-radius: 3vw;
    border: .1vw solid black;
}


.error-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.error-container .error-message {
    font-family: "Handlee", sans-serif;
    color: white;
    font-size: .85vw;
    white-space: nowrap;
}


#username:hover,
#password:hover,
#name:hover,
#username0:hover,
#password0:hover {
    background-color: #FFF8DB;
}
#username:focus,
#password:focus,
#name:focus,
#username0:focus,
#password0:focus {
    background-color: #FFF1B7;
}



#loginButton, #loginButton0,
#signUpButton, #signUpButton0{
    margin-top: -1vw;
    margin-right: 1vw;
    margin-left: 1vw;
    font-family: CoffeCake, sans-serif;
    font-size: 2.5vw;
    background-color: #EA5C2B;
    color: #FFD2BB;
    border: .1vw solid black;
    padding: .5vw;
    width: 13vw;
    cursor: pointer;
    border-radius: 3vw;
}

#loginButton0,
#signUpButton {
    background-color: #FFBB94;
    color: #FFD2BB;
}


#loginButton:hover {
    background-color: #FF7F3F;
}

#loginButton0:hover {
    background-color: #F6D860;
}

#loginButton:active,
#loginButton0:active {
    background-color: #95CD41;
    color: #DFFFAE;
}

#signUpButton0 {
    background-color: #EA5C2B
}

#signUpButton:hover {
    background-color: #F6D860;
}

#signUpButton0:hover {
    background-color: #FF7F3F;
}

#signUpButton:active,
#signUpButton0:active {
    background-color: #95CD41;
    color: #DFFFAE;
}

/* Arrows */
.character-container {
    display: none;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    caret: transparent;
}

.arrow {
    position: relative;
    pointer-events: auto;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 5vw;
}

#leftArrow {
    left: -15vw;
}

#rightArrow {
    right: -15vw;
}
