/* Fonts */
@font-face {
    font-family: "Handlee";
    src: url("Assets/Fonts/Handlee-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "CoffeCake";
    src: url("Assets/Fonts/Coffecake.ttf") format("truetype")
}

/* Canvas styles */
canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    font-family: "CoffeCake", sans-serif;
    width: 100%;
    height: 100%;
    display: none;
}

/* Image styles */
#startMenu, #test, #logo, #tutorial, #background,
#pupSpeech, #pierSpeech, #isabelleSpeech, #celineSpeech, #amuSpeech, #chatonSpeech,
#introBackground, #volumeIcon, #muteVolumeIcon,
#character, #dish, #kitchenBackground, #player,
#gameplayText, #ic_options, #ic_recipe, #ic_slot,
#ic_com, #ic_timer{
    display: none;
}

/* Button styles */
.Button-column {
    position: absolute;
    display: none;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Button-container {
    background-color: #EA5C2B;
    width: calc(50% + .5vw);
    height: 5vw;
    border-radius: 250px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    outline: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%
}

.Button-container:hover {
    background-color: #FF7F3F;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.Button-container:active {
    background-color: #95CD41;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.Button {
    font-family: CoffeCake, sans-serif;
    justify-content: center;
    text-align: center;
    background: transparent;
    font-size: calc(100% + 2.5vw);
    padding: 3vh 6vw;
    border: none;
    color: #FFD2BB;
    cursor: pointer;
    caret-color: transparent;
    -webkit-text-stroke: 3px black;
}

.Button:active {
    color: #DFFFAE;
}

.Back-Button {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1%;
    margin-left: 18%;
}

#tutorial-backButton-container {
    display: none;
    width: 110%;
}

#tutorialBackButton {
    font-size: 300%;
    padding: 12px 24px;
}

#options-backButton-container, #CharSelect-backButton-container, #CharSelect-confirmButton-container {
    position: fixed;
    display: none;
    bottom: 10%;
    left: 42%;
    background-color: #EA5C2B;
    width: 15%;
    height: 7%;
    border-radius: 250px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    outline: 3px solid black;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

#CharSelect-backButton-container {
    margin-top: 3%;
    top: 2vw;
    left: 4%;
}

#CharSelect-confirmButton-container {
    margin-top: 3%;
    top: 2vw;
    left: 80vw;
}

#options-backButton-container:hover, #CharSelect-confirmButton-container:hover, #CharSelect-backButton-container:hover {
    background-color: #FF7F3F;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

#options-backButton-container:active, #CharSelect-confirmButton-container:hover, #CharSelect-backButton-container:active {
    background-color: #95CD41;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

#ic_options {
    position: absolute;
    display: flex;
    width: 4.5vw;
    height: 4.5vw;
    left: 3vw;
    top: .5vw;
    transform: translate(-50%);
}

#ic_recipe {
    position: absolute;
    display: flex;
    width: 4.5vw;
    height: 4.5vw;
    left: 4vw;
    bottom: 2vw;
    transform: translate(-50%);
}

#ic_slot {
    position: absolute;
    display: flex;
    width: 4.5vw;
    height: 4.5vw;
    left: 12.5vw;
    bottom: 2vw;
    transform: translate(-50%);
}

#ic_timer {
    position: absolute;
    display: flex;
    width: 4.5vw;
    height: 5.5vw;
    right: -.5vw;
    top: .2vw;
    transform: translate(-50%);
}

#ic_com {
    position: absolute;
    display: flex;
    width: 2.8vw;
    height: 2.8vw;
    right: 25vw;
    bottom: 1.8vw;
    transform: translate(-50%);
}

/* Header styles */
#menuHeader, #character-name, #dish-name {
    font-family: CoffeCake, sans-serif;
    font-size: calc(100% + 12vw);
    color: #FF7F3F;
    caret-color: transparent;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    margin-bottom: .05vw;
}

#speechText {
    display: none;
    font-family: Handlee, sans-serif;
    font-size: calc(100% + 1.3vw);
    color: #000000;
    position: absolute;
    width: 75vw;
    height: 3em; /* Set a fixed height */
    bottom: 2vw;
    left: 60vw; /* Adjust the left value as needed */
    text-align: left;
    transform: translateX(-50%);
}


#character-name, #dish-name {
    display: none;
    position: absolute;
    font-size: calc(100% + 6vw);
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#introHeader, #gameplayText {
    font-family: CoffeCake, sans-serif;
    display: none;
    font-size: calc(100% + 2vw);
    color: #FF7F3F;
    caret-color: transparent;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin: 0;
    position: absolute;
    bottom: 15vw;
    left: 50%;
    transform: translateX(-50%);
}

#optionsHeader {
    font-family: CoffeCake, sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -28.8%);
    display: none;
    font-size: 1400%;
    color: #FF7F3F;
    caret-color: transparent;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    margin-bottom: 0;
}

#character-name, #dish-name {
    white-space: nowrap;
}

#gameplayText {
    display: flex;
    left: 12vw;
    transform: translateX(-50%);
    font-size: 12vw;
    bottom: 10vw;
    -webkit-text-stroke: .1vw black;
    color: white;
}

#timer {
    font-family: CoffeCake, serif;
    top: 7vw;
    right: -1vw;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 3.5vw;
    /*text-shadow: -8px 0 black, 0 8px black, 8px 0 black, 0 -8px black;*/
    -webkit-text-stroke: .1vw black;
}

/* Volume */
#volumeContainer {
    caret: transparent;
    position: absolute;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40%;
    width: 40%;
    height: 7%;
    border-radius: 250px;
    cursor: pointer;
    padding: 5px;
}

#volumeIcon {
    position: absolute;
    top: 50%;
    transform: translate(-180%, -50%);
    width: 15%;
    height: 120%;
    caret: transparent;
}

#volumeBar {
    --value: 50%;
    width: 100%;
    height: 100%;
    outline: 3px solid black;
    border-radius: 250px;
    background: linear-gradient(to right, #EA5C2B 0%, #EA5C2B calc(var(--value) * 100%), #FBDD0D 0, #FBDD0D 100%);
    -webkit-appearance: none;
}

#volumeBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: #EA5C2B;
    outline: 3px solid black;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

#volumeBar::-webkit-slider-thumb:hover {
    background-color: #FF7F3F;
}

#volumeBar::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    border-radius: 250px;
    z-index: 1;
}

/* Text Field */
.chat-container {
    position: fixed;
    bottom: 1.5vw;
    right: 3vw;
    width: 20vw;
    padding: .3vw;
}

.chat-field {
    width: 100%;
    background-color: #FF7F3F;
    border-radius: 3vw;
    border: .2vw solid black;
    padding: .2vw;
    cursor: pointer;
}

.chat-log-container {
    overflow: hidden;
    transition: height 0.3s ease;
}

.chat-log {
    height: 0;
    overflow: auto;
    background-color: rgba(34, 28, 25, 0.95);
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    margin-left: 1vw;
    margin-right: .35vw;
    caret-color: transparent;
}

.chat-input {
    font-size: 1vw;
    border: transparent;
    width: 100%;
    padding-top: .3vw;
    padding-left: 1vw;
    padding-bottom: .5vw;
    background-color: #FF7F3F;
    border-radius: 3vw;
    color: white;
    box-sizing: border-box;
    outline: none;
}

.chat-input::placeholder {
    color: rgba(255, 250, 250, 0.56);
}


/* Login and Signup */

#login-container, #signup-container {
    display: none;
    font-family: CoffeCake, sans-serif;
    text-align: center;
    font-size: 250%;
    color: snow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 60%;
    background-image: url("Assets/Sprites/Backgrounds/loginContainerBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-text-stroke: 2px black;
}

#signup-container {
    background-image: url("Assets/Sprites/Backgrounds/signupContainerBackground.png");
    width: 45%;
    height: 72%;
}

#signup-container .input-group {
    margin-top: 7%;
    margin-bottom: 13px;
}

#login-container .input-group {
    margin-top: 9%;
    margin-bottom: 15px;
}

#login-container label,
#signup-container label {
    display: block;
    margin-bottom: 1%;
}

#login-container input[type="text"],
#login-container input[type="password"],
#signup-container input[type="text"],
#signup-container input[type="password"] {
    font-family: CoffeCake, sans-serif;
    font-size: 100%;
    color: #95CD41;
    padding: 1%;
    width: 50%;
    border-radius: 25px;
    border: 2px solid black;
}

#login-container #username:hover,
#login-container #password:hover,
#signup-container #name:hover,
#signup-container #username0:hover,
#signup-container #password0:hover {
    background-color: snow;
}

#login-container #loginButton,
#signup-container #loginButton0 {
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    font-family: CoffeCake, sans-serif;
    font-size: 80%;
    background-color: #EA5C2B;
    color: #FFD2BB;
    border: 2px solid black;
    padding: 1%;
    width: 24%;
    cursor: pointer;
    border-radius: 25px;
}

#signup-container #loginButton0 {
    background-color: #FFBB94;
}

#login-container #loginButton:hover {
    background-color: #FF7F3F;
}

#signup-container #loginButton0:hover {
    background-color: #F6D860;
}

#login-container #loginButton:active,
#signup-container #loginButton0:active {
    background-color: #95CD41;
    color: #DFFFAE;
}

#login-container #signUpButton,
#signup-container #signUpButton0 {
    margin-right: 2%;
    margin-left: 2%;
    font-family: CoffeCake, sans-serif;
    font-size: 80%;
    background-color: #FFBB94;
    color: #FFD2BB;
    border: 2px solid black;
    padding: 1%;
    width: 24%;
    cursor: pointer;
    border-radius: 25px;
}

#signup-container #signUpButton0 {
    background-color: #EA5C2B
}

#login-container #signUpButton:hover {
    background-color: #F6D860;
}

#signup-container #signUpButton0:hover {
    background-color: #FF7F3F;
}

#login-container #signUpButton:active,
#signup-container #signUpButton0:active {
    background-color: #95CD41;
    color: #DFFFAE;
}

/* Arrows */

.character-container {
    display: none;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    caret: transparent;
}

.arrow {
    position: relative;
    pointer-events: auto;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#leftArrow {
    left: -230%;
}

#rightArrow {
    right: -230%;
}

/* Fixes */


@media (min-width: 650px) and (orientation: landscape) {
    .Button-column {
        position: absolute;
        display: none;
        bottom: 8%;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Button-container {
        background-color: #EA5C2B;
        width: calc(60% + .8vw);
        height: 5vw;
        border-radius: 4vw;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        outline: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%
    }

    .Button {
        text-align: center;
        background: transparent;
        font-size: calc(100% + 2vw);
        border: none;
        color: #FFD2BB;
        cursor: pointer;
        caret-color: transparent;
        -webkit-text-stroke: 1vw black;
    }

    /* Header styles */
    #menuHeader, #character-name {
        font-family: CoffeCake, sans-serif;
        font-size: calc(100% + 12vw);
        color: #FF7F3F;
        caret-color: transparent;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        margin-bottom: .05vw;
    }

    #tutorial-backButton-container {
        display: none;
        width: 70%;
    }

    #tutorialBackButton {
        font-size: 4vw;
        padding: 12px 24px;
    }
}

@media (min-width: 730px) and (orientation: landscape) {
    .Button-container {
        background-color: #EA5C2B;
        width: calc(60% + .1vw);
        height: 5vw;
        border-radius: 4vw;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        outline: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8%
    }

    .Button {
        font-family: CoffeCake, sans-serif;
        text-align: center;
        background: transparent;
        font-size: calc(100% + 2vw);
        padding: 3vh 6vw;
        border: none;
        color: #FFD2BB;
        cursor: pointer;
        caret-color: transparent;
        -webkit-text-stroke: 2px black;
    }

    /* Header styles */
    #menuHeader, #character-name {
        font-family: CoffeCake, sans-serif;
        font-size: calc(100% + 10vw);
        color: #FF7F3F;
        caret-color: transparent;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        margin-bottom: .05vw;
    }
}

@media (min-width: 720px) and (min-height: 540px) and (orientation: landscape) {
    .Button-container {
        background-color: #EA5C2B;
        width: calc(60% + .1vw);
        height: 7vw;
        border-radius: 4vw;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        outline: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 11%
    }

    .Button {
        font-family: CoffeCake, sans-serif;
        text-align: center;
        background: transparent;
        font-size: calc(100% + 3vw);
        padding: 3vh 6vw;
        border: none;
        color: #FFD2BB;
        cursor: pointer;
        caret-color: transparent;
        -webkit-text-stroke: 2px black;
    }

    /* Header styles */
    #menuHeader, #character-name {
        font-family: CoffeCake, sans-serif;
        font-size: calc(100% + 15vw);
        color: #FF7F3F;
        caret-color: transparent;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        margin-bottom: .05vw;
    }
}

@media (min-width: 717px) and (min-height: 512px) and (orientation: landscape) {
    .Button-container {
        background-color: #EA5C2B;
        width: calc(60% + .1vw);
        height: 7vw;
        border-radius: 4vw;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        outline: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%
    }

    /* Header styles */
    #menuHeader, #character-name {
        font-family: CoffeCake, sans-serif;
        font-size: calc(100% + 15vw);
        color: #FF7F3F;
        caret-color: transparent;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        margin-bottom: .05vw;
    }

    #tutorial-backButton-container {
        display: none;
        width: 8vw;
        height: 6vw;
    }

    #tutorialBackButton {
        font-size: 3.5vw;
        padding: 12px 24px;
    }
}

@media (min-width: 844px) and (orientation: landscape) {
    /* Header styles */
    #menuHeader, #character-name {
        font-family: CoffeCake, sans-serif;
        font-size: calc(100% + 9vw);
        color: #FF7F3F;
        caret-color: transparent;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        margin-bottom: .05vw;
    }
}

@media (min-width: 896px) and (orientation: landscape) {
    .Button-container {
        background-color: #EA5C2B;
        width: calc(65% + .1vw);
        height: 4.5vw;
        border-radius: 4vw;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        outline: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Header styles */
    #menuHeader, #character-name {
        font-family: CoffeCake, sans-serif;
        font-size: calc(100% + 9vw);
        color: #FF7F3F;
        caret-color: transparent;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        margin-bottom: 1vw;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .Button-container {
        background-color: #EA5C2B;
        width: calc(50% + .1vw);
        height: 7vw;
        border-radius: 4vw;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        outline: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%
    }

    .Button {
        font-family: CoffeCake, sans-serif;
        text-align: center;
        background: transparent;
        font-size: calc(100% + 3.5vw);
        padding: 3vh 6vw;
        border: none;
        color: #FFD2BB;
        cursor: pointer;
        caret-color: transparent;
        -webkit-text-stroke: 2px black;
    }

    /* Header styles */
    #menuHeader, #character-name {
        font-family: CoffeCake, sans-serif;
        font-size: calc(100% + 16vw);
        color: #FF7F3F;
        caret-color: transparent;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        margin-bottom: .05vw;
    }
}

@media (min-width: 1180px) and (orientation: landscape) {
    /* Header styles */
    .Button-container {
        background-color: #EA5C2B;
        width: calc(50% + .1vw);
        height: 7vw;
        border-radius: 4vw;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        outline: 3px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%
    }

    .Button {
        font-family: CoffeCake, sans-serif;
        text-align: center;
        background: transparent;
        font-size: calc(100% + 3.5vw);
        padding: 3vh 6vw;
        border: none;
        color: #FFD2BB;
        cursor: pointer;
        caret-color: transparent;
        -webkit-text-stroke: 3px black;
    }

    /* Header styles */
    #menuHeader, #character-name {
        font-family: CoffeCake, sans-serif;
        font-size: calc(100% + 14vw);
        color: #FF7F3F;
        caret-color: transparent;
        text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
        margin-bottom: .05vw;
    }
}

@media (min-width: 1024px) and (max-height: 600px) and (orientation: landscape) {
    .Button-container {
        background-color: #EA5C2B;
        width: calc(50% + .1vw);
        height: 6vw;
        border-radius: 4vw;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        outline: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%
    }

    .Button {
        font-family: CoffeCake, sans-serif;
        text-align: center;
        background: transparent;
        font-size: calc(100% + 2.8vw);
        padding: 3vh 6vw;
        border: none;
        color: #FFD2BB;
        cursor: pointer;
        caret-color: transparent;
        -webkit-text-stroke: 2px black;
    }

    /* Header styles */
    #menuHeader, #character-name {
        font-family: CoffeCake, sans-serif;
        font-size: calc(100% + 12vw);
        color: #FF7F3F;
        caret-color: transparent;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        margin-bottom: .05vw;
    }
}

@media (min-width: 1280px) and (max-height: 800px) and (orientation: landscape) {
    .Button-container {
        background-color: #EA5C2B;
        width: calc(50% + .1vw);
        height: 6vw;
        border-radius: 4vw;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        outline: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%
    }

    .Button {
        font-family: CoffeCake, sans-serif;
        text-align: center;
        background: transparent;
        font-size: calc(100% + 2.8vw);
        padding: 3vh 6vw;
        border: none;
        color: #FFD2BB;
        cursor: pointer;
        caret-color: transparent;
        -webkit-text-stroke: 2px black;
    }

    /* Header styles */
    #menuHeader, #character-name {
        font-family: CoffeCake, sans-serif;
        font-size: calc(100% + 14vw);
        color: #FF7F3F;
        caret-color: transparent;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        margin-bottom: .05vw;
    }
}

@media (min-width: 1440px) {
    .Button-column {
        position: absolute;
        display: none;
        bottom: 8%;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Button-container {
        background-color: #EA5C2B;
        width: calc(50% + .5vw);
        height: 6vw;
        border-radius: 250px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        outline: 3px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 11%
    }

    .Button {
        font-family: CoffeCake, sans-serif;
        justify-content: center;
        text-align: center;
        background: transparent;
        font-size: calc(100% + 3vw);
        padding: 3vh 6vw;
        border: none;
        color: #FFD2BB;
        cursor: pointer;
        caret-color: transparent;
        -webkit-text-stroke: 3px black;
    }

    /* Header styles */
    #menuHeader {
        font-family: CoffeCake, sans-serif;
        font-size: calc(100% + 15vw);
        color: #FF7F3F;
        caret-color: transparent;
        text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
        margin-bottom: .05vw;
    }

    #character-name {
        font-family: CoffeCake, sans-serif;
        font-size: calc(100% + 5vw);
        color: #FF7F3F;
        caret-color: transparent;
        text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
        margin-bottom: .05vw;
    }

}

@media (min-width: 2300px) {
    .Button-column {
        position: absolute;
        display: none;
        bottom: 8%;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Button-container {
        background-color: #EA5C2B;
        width: calc(50% + .5vw);
        height: 5vw;
        border-radius: 250px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        outline: 3px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8%
    }

    .Button {
        font-family: CoffeCake, sans-serif;
        justify-content: center;
        text-align: center;
        background: transparent;
        font-size: calc(100% + 2.5vw);
        padding: 3vh 6vw;
        border: none;
        color: #FFD2BB;
        cursor: pointer;
        caret-color: transparent;
        -webkit-text-stroke: 5px black;
    }

    /* Header styles */
    #menuHeader {
        font-family: CoffeCake, sans-serif;
        font-size: calc(100% + 12vw);
        color: #FF7F3F;
        caret-color: transparent;
        text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
        margin-bottom: .05vw;
    }

    #character-name {
        font-family: CoffeCake, sans-serif;
        font-size: calc(100% + 5vw);
        color: #FF7F3F;
        caret-color: transparent;
        text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
        margin-bottom: .05vw;
    }

    /*Arrows*/

    .character-container {
        display: none;
        pointer-events: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        caret: transparent;
    }

    .arrow {
        position: relative;
        pointer-events: auto;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    #leftArrow {
        width: 4vw;
        left: -230%;
    }

    #rightArrow {
        width: 4vw;
        right: -230%;
    }

}
